PORT=8080
PASSWORD_SECRET=Varujan
SECRET_KEY=varujan


MY_SQL_HOST=mysql-varujan-98-varujan-98.j.aivencloud.com
MY_SQL_PORT=23048
MY_SQL_USER=avnadmin
MY_SQL_PASSWORD=AVNS__NXo8q7ZeOlqfBzAcw4
MY_SQL_DATABASE=Cinema